[package]
name = "psqlpy"
version = "0.2.9"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "psqlpy"
crate-type = ["cdylib"]

[dependencies]
deadpool-postgres = "0.12.1"
pyo3 = { version = "0.19.2", features = ["chrono"] }
tokio = { version = "1.35.1", features = ["full"] }
tokio-postgres = { version = "0.7.10", features = [
    "with-serde_json-1",
    "array-impls",
    "with-chrono-0_4",
    "with-uuid-1",
] }
pyo3-asyncio = { version = "0.19.0", features = ["tokio-runtime"] }
thiserror = "1.0.56"
bytes = "1.5.0"
byteorder = "1.5.0"
postgres-protocol = "0.6.6"
chrono = "0.4.33"
chrono-tz = "0.8.5"
uuid = { version = "1.7.0", features = ["v4"] }
serde_json = "1.0.113"
futures-util = "0.3.30"
